{% extends "blogs/base.html" %}

{% block categorydiv %}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% for category in categories %}
              <a class="p-2 text-muted" href="{% url 'user_created_blog_category' category.name %}">{{ category.name }}</a>
            {% endfor %}
        </nav>
     </div>
{% endblock categorydiv %}

{% block content %}
    <h3 class="mb-3 text-info">Blog List</h3>

    {% for blog in page_obj %}
        <div>
           <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4
                shadow-sm">
               <div class="col p-4 d-flex flex-column position-static">
                 <strong class="d-inline-block mb-2 text-primary">{{ blog.category }}</strong>
                 <h3 class="mb-0">{{ blog.title }}</h3>
                 <p class="card-text mb-auto">{{ blog.content|truncatewords:20 }}</p>
                 <div class="blog-pagination">
                    <a class="btn btn-outline-info" href="{% url 'user_update_blog' blog.id %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'user_delete_blog' blog.id %}">Delete</a>
                 </div>
              </div>
           </div>
        </div>
    {% endfor %}

{% endblock content %}

{% block sidebar %}
    <div class="mr-1 ml-1">
       <h4 class="font-italic">Archives</h4>
          <ol class="list-unstyled">
              {% for month, year in last_months %}
                <li><a href="{% url 'user_created_blog_month' month=month year=year %}">{{ month }} {{ year }}</a></li>
              {% endfor %}
          </ol>
     </div>
{% endblock sidebar %}


{% block buttons %}
    <main role="main" class="container">
     <div class="row">
        <div class="col-md-8 blog-main">
            {% if paginator.num_pages > 1 %}
            <nav class="blog-pagination">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info" href="?page=1">First</a>
                    <!-- below returns page number of previous page -->
                    <a class="btn btn-outline-info" href="?page={{ blogs.previous_page_number }}">Previous</a>
                {% endif %}

                <!-- loop over all pages -->
                {% for num in page_obj.paginator.page_range %}
                    <!-- check if it is on the current page -->
                    {% if page_obj.number == num %}
                        <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                    <!-- if page currently on is within 3 pages before / after -->
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </nav>
            {% endif %}
        </div>

     </div>
     <!-- /.row -->
  </main>
{% endblock buttons %}
